<!DOCTYPE html>
<html>
<head>
	<TITLE>Steam Inviter - Expand and Profit</TITLE>
	<META NAME="description" CONTENT="Automatic Steam inviting tool to expand your Steam groups. 2016">
	<META NAME="keywords" CONTENT="Invite, Steam, Group, Mass">
	<META NAME="robot" CONTENT="index,follow">
	<META NAME="copyright" CONTENT="Copyright Â© 2016 Steam Inviter. All Rights Reserved.">
	<META NAME="language" CONTENT="English">
	<META NAME="revisit-after" CONTENT="1 days">

	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="icon" type="image/png" href="/images/favicon.png">
	
	<style>
		input, textarea {
			color: #FFF;
			padding: 6px 8px;
			border-color: rgba(0, 0, 0, 0.2);
			background-color: rgba(0, 0, 0, 0.8);
		}

		input:-webkit-autofill,
		input:-webkit-autofill:hover,
		input:-webkit-autofill:focus,
		input:-webkit-autofill:active {
			transition: background-color 5000s ease-in-out 0s;
			-webkit-text-fill-color: white !important;
		}
	</style>

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Duru+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
<div class="header-container">
	<div class="header-content">
		<span id="logo"></span>
		<ul id="main-menus">
			<a href="/plans">
				<li class="current">Plans</li>
			</a>
			<a href="/features">
				<li>Features</li>
			</a>
			<a href="/contact">
				<li>Contact</li>
			</a>
		</ul>

		{{if .steamid}}
		<span id="user-icon" style="background-image: url({{.avatarmedium}});"></span>
		{{else}}
		<span id="login">
			<form action="/login" method="">
				<input type="image" src="http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_border.png">
			</form>
		</span>
		{{end}}
	</div>
</div>

<div id="background">
	<div id="container">
		<h1 class="header">Contact Us</h1>
		<h3 class="header sub">Send us a message, we'd love to hear from you weather it'd be feedback or an inquiry.</h3>
		<div class="box wide">
			<form name="contact" id="contactForm" method="post">
				<span style="float:left; margin-right: 20px;">
					<label for="name">
						Name
					</label>
					<br>
					<input name="name" id="name" type="text" style="width: 300px;">
				</span>

				<span style="float: left;">
					<label for="email">
						Email
					</label>
					<br>
					<input name="email" id="email" type="text" style="text-transform: lowercase; width: 340px;">
				</span>

				<div class="clear"></div>

				<br>

				<label for="message">
					Message
				</label>
				<br>
				<textarea name="message" id="message" style="min-width: calc(100% - 18px); max-width: calc(100% - 18px); min-height: 100px;"></textarea>

				<br>

				<input type="submit" value="Send" class="purchase">
			</form>
		</div>
	</div>
</div>

<div class="header-container" style="background-color: rgba(0, 0, 0, 0.4);">
	<div class="header-content" style="background: none; line-height: 104px;">
		<span class="powered-by-steam" style="color: #fff;">Powered by Steam</span>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script type="text/javascript">
	jQuery(document).ready(function(){
		// JavaScript Starts Here //
		var containerHeight = $("#container").height()
		adjustFooter();
		$(window).resize(function () {
			adjustFooter();
		});
		function adjustFooter() {
			var docHeight = $(window).height();
			var headerAndFooterHeight = 0;
			$(".header-container").each(function(){
				headerAndFooterHeight += $(this).height();
			});
			var adjustHeight = docHeight - (headerAndFooterHeight + 24)
			if (adjustHeight > containerHeight) {
				$("#background").height(adjustHeight + "px")
			}
		}

		$("#contactForm").submit(function(){
			event.preventDefault();
			var name = $("#name").val();
			var email = $("#email").val();
			var message = $("#message").val();
			if (name.length <= 1) {
				alert("The name field is too short.");
				return false;
			} else if (!/^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(email)) {
				alert("Your email seems incorrect.");
				return false;
			} else if (message.length < 20) {
				alert("Please write a message with 20 or more characters.")
				return false;
			}

			$.post("/sendMessage", {
				name: name,
				email: email,
				message: message
			}, function(result){
				alert(result);
				if (result == "OK") {
					alert("Message sent successfully!");
				} else {
					alert("An error occured when trying to send your message.");
				}
			}).fail(function(){
				alert("An error occured when trying to send your message.")
			});
		});
	});
</script>

</body>
</html>