<!DOCTYPE html>
<html>
<head>
	<TITLE>Steam Inviter{{if .title}} - {{.title}} {{end}}</TITLE>
	<META NAME="description" CONTENT="Automatic Steam inviting tool to expand your Steam groups. 2016">
	<META NAME="keywords" CONTENT="Invite, Steam, Group, Mass">
	<META NAME="robot" CONTENT="index,follow">
	<META NAME="copyright" CONTENT="Copyright Â© 2016 Steam Inviter. All Rights Reserved.">
	<META NAME="language" CONTENT="English">
	<META NAME="revisit-after" CONTENT="1 days">

	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="icon" type="image/png" href="/images/favicon.png">

	{{range .css}}
	<link rel="stylesheet" type="text/css" href="{{.}}">
	{{end}}

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Duru+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
<!-- Temporary info -->
<div style="
	width: 100%;
	background: #356aa0;
	background: -moz-linear-gradient(top, #356aa0 0%, #356aa0 100%);
	background: -webkit-linear-gradient(top, #356aa0 0%,#356aa0 100%);
	background: linear-gradient(to bottom, #356aa0 0%,#356aa0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356aa0', endColorstr='#356aa0',GradientType=0 );">
	<div style="width: 940px; margin: 0 auto; padding: 10px 0;">
		<strong><a href="/" style="color: #000;">SteamInviter.com</a></strong> is still being developed. Email <a href="MailTo: contact@steaminviter.com" style="color: #000;">contact@steaminviter.com</a> for inquiries.
	</div>
</div>
<!-- End temp info -->

<div class="header-container">
	<div class="header-content">
		<a href="/">
			<span id="logo"></span>
		</a>
		<ul id="main-menus">
			<a href="/">
				<li{{if eq .urlPath "/"}} class="active-page"{{end}}>Plans</li>
			</a>
			<a href="/features">
				<li{{if eq .urlPath "/features"}} class="active-page"{{end}}>Features</li>
			</a>
			<a href="/contact">
				<li{{if eq .urlPath "/contact"}} class="active-page"{{end}}>Contact</li>
			</a>
		</ul>

		{{if .steamid}}
		<span id="user-icon" style="background-image: url({{.avatarmedium}});" onclick="if($('#profile-drop-down').css('display') == 'none') {$('#profile-drop-down').show();} else {$('#profile-drop-down').hide();};"></span>
		<div id="profile-drop-down" style="display: none;">
			<ul>
				<a href="/myplans">
					<li>My Plans</li>
				</a>
				<a href="/{{.steamid}}">
					<li>Account</li>
				</a>
				<a href="/logout">
					<li>Logout</li>
				</a>
			</ul>
		</div>
		{{else}}
		<span id="login">
			<form action="/login" method="">
				<input type="image" src="http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_border.png">
			</form>
		</span>
		{{end}}
	</div>
</div>

<div id="background">
	<div id="container">